<div align="center">
  <td><%= image_tag 'top2.jpg', id: 'top_icon_5'%></td>
</div>

<div align="center">
  <div class="taitle">
    <table>
      <tr>
        <th></th>
        <td>入店までの流れ</td>
      </tr>
    </table>
  </div>
</div>

<br>
<br>

<div align="left">
  <div class="content_1">
    <table>
      <tr>
        <td>1</td>
        <td>
          当店の受付電話番号
          <br>
          (03-5428-0655)に直接お電話をいただくか
          <br>
          LINE・メール又は応募フォームにてご連絡下さい。
        </td>
      </tr>
    </table>
  </div>
</div>

<div align="left">
  <div class="content_2">
    <table>
      <tr>
        <td>2</td>
        <td>
          ご連絡を取り合い、写真撮影を行った後
          <br>
          弊社にて面接を行います。
        </td>
      </tr>
    </table>
  </div>
</div>

<div align="left">
  <div class="content_3">
    <table>
      <tr>
        <td>3</td>
        <td>
          面接後、ご希望日に体験入店を実施して
          <br>
          いきます。
          <br>
          その際、ホームページ掲載用の写真を弊社のスタジオ
          <br>
          にてプロのカメラマンに撮影をしてもらいます。
          <br>
          ※撮影方法は、貴女の希望に踏まえて撮影できます。
          <br>
          　(例：顔を一切写さずの撮影など)詳細はご相談させ
          <br>
          　て頂けたらと思います。
        </td>
      </tr>
    </table>
  </div>
</div>

<div align="left">
  <div class="content_4">
    <table>
      <tr>
        <td>4</td>
        <td>
          入店後は、貴女のスケジュールに合わせて出勤予定日
          <br>
          を当店までご提出して頂けたらと思います。
        </td>
      </tr>
    </table>
  </div>
</div>
