<div align="center">
  <div class="banner">
    <table>
      <tr>
        <th></th>
        <td>
          <td><%= image_tag 'richrd.jpg' %></td>
        </td>
      </tr>
    </table>
  </div>
</div>
