<div align="center">
  <div class="banner">
    <table>
      <tr>
        <th></th>
        <td>
          <td><%= image_tag 'richrd.jpg' %></td>
        </td>
      </tr>
    </table>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="essential">
  <table>
    <tr>
      <td>★業界トップクラスのバック料金！！</td>
    </tr>
    <tr>
      <td>お給料・お客様の質・スタッフの対応、働きやすさ、全てに№1をここにお約束致します！！</td>
    </tr>
  </table>
</div>
<br>
<br>
<div class="essential-2">
  <table>
    <tr>
      <td>
        名古屋トップクラスの驚きの高待遇
        <br>
        働きやすい環境であなたをお出迎え致します。
        <br>
        高級店だからこそ女の子を大切に考え、過剰なプレイ等を求めない！！
        <br>
        ※当店は高級店でありがちなハードなサービスは全くありません
        <br>
        通常のデリバリーヘルスでソフトなサービスになりますのでとても綺麗にお遊びされる紳士なお客様ばかりですのでご安心下さい。
        <br>
        当店は女の子1人1人と真剣に向き合いあなたの夢を叶えます！！
        <br>
        このお仕事をやる以上は目標を達成しなければ意味がありません！！
        <br>
        （当店は未経験の女性が多いです）
        <br>
        貴方の環境を第一に考えます。
        <br>
        先ずは当店の【待遇】【お客様の質】【働きやすさ】を是非実感して下さい。
        <br>
        <br>
        【バック】
        <br>
          75min 最低25,000円～
        <br>
        90min 最低30,000円～
        <br>
        120min 最低40,000円～
        <br>
        ※上記のバック(お給料)は全て手取り額です！！
      </td>
    </tr>
  </table>
</div>
<br>
<br>
<br>
<br>
<div align="center">
  <div class="essential">
    <table>
      <tr>
        <td>　　店名</td>
        <td><font color=#000000>　k　　　　　</font></td>
        <td>ROGER</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　職種</td>
        <td>　　　　　</td>
        <td>デリヘル</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　勤務地</td>
        <td>　　　　　</td>
        <td>新栄・東新町・中区</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　住所</td>
        <td>　　　　　</td>
        <td>愛知県名古屋市中区</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　地区・最寄駅</td>
        <td>　　　　　</td>
        <td>地下鉄名城線矢場駅地下鉄・JR鶴舞線鶴舞駅</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　電話番号</td>
        <td>　　　　　</td>
        <td>052-238-1586</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　SNS</td>
        <td>　　　　　</td>
        <td>ボタン</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　受付時間</td>
        <td>　　　　　</td>
        <td>365日　24時間対応</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　担当者</td>
        <td>　　　　　　　　　　　　　　　　　　　</td>
        <td>採用担当</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　オフィシャルサイト</td>
        <td>　　　　　　　　　　　　　　　　　　</td>
        <td>http://roger-gr.jp/</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>ヘブンネット掲載中</td>
        <td>　　　　　</td>
        <td>http://www.cityheaven.net/t/roger/ (ROGER) </td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="essential">
    <table>
      <tr>
        <td>　　　　　　メールアドレス　　　　　</td>
        <td>roger9762@icloud.com　　　　　　　　　　　　　　　</td>
      </tr>
    </table>
  </div>
  <div class="essential">
    <table>
      <tr>
        <td>　　　　　　　　　地区・最寄駅</td>
        <td>　　　　</td>
        <td>地下鉄名城線矢場駅地下鉄・JR鶴舞線鶴舞駅　　　　　　　　</td>
      </tr>
    </table>
  </div>
</div>
<br>
<div align="center">
  <%= link_to '戻る', :back, class: 'btn-primary' %>
</div>
