<div align="center">
  <div class="top">
    <table>
      <tr>
        <th></th>
        <td><%= image_tag 'top2.jpg' %></td>
      </tr>
    </table>
  </div>
</div>
<div align="center">
  <div class="taitle">
    <table>
      <tr>
        <th></th>
        <td>CONCEPT</td>
      </tr>
    </table>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="content">
  <table>
    <tr>
      <th>ごあいさつ</th>
    </tr>
    <tr>
      <td height="30"></td>
    <tr>
    </tr>
      <td>　　数ある中から</td>
    </tr>
  </table>
</div>

<div class="content">
  <table>
    <tr>
      <th>質の良さ</th>
    </tr>
    <tr>
      <td height="30"></td>
    <tr>
    </tr>
      <td>　　数ある中から</td>
    </tr>
  </table>
</div>

<div class="content">
  <table>
    <tr>
      <th>接客について</th>
    </tr>
    <tr>
      <td height="30"></td>
    <tr>
    </tr>
        <td>　　数ある中から</td>
    </tr>
  </table>
</div>
