// Place all the styles related to the flows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content_1 {
  text-align: left;
  font-size: 300%;
  color: #C0C0C0;
  font-family: "MS 明朝";
  height: 320px;
  margin-right : 10%;
  margin-left : 10%;
  border: 2px #FFFFFF solid;
  padding: 30px 50px;
  margin-bottom: 100px
}

.content_1 td {
  padding: 50px 50px;
}

.content_2 {
  font-size: 300%;
  color: #C0C0C0;
  font-family: "MS 明朝";
  height: 260px;
  margin-right : 10%;
  margin-left : 10%;
  border: 2px #FFFFFF solid;
  padding: 30px 50px;
  margin-bottom: 100px
}

.content_2 td {
  padding: 50px 50px;
}

.content_3 {
  font-size: 300%;
  color: #C0C0C0;
  font-family: "MS 明朝";
  height: 600px;
  margin-right : 10%;
  margin-left : 10%;
  border: 2px #FFFFFF solid;
  padding: 30px 50px;
  margin-bottom: 100px
}

.content_3 td {
  padding: 50px 50px;
}

.content_4 {
  font-size: 300%;
  color: #C0C0C0;
  font-family: "MS 明朝";
  height: 280px;
  margin-right : 10%;
  margin-left : 10%;
  border: 2px #FFFFFF solid;
  padding: 30px 50px;
  margin-bottom: 100px
}

.content_4 td {
  padding: 50px 50px;
}

#top_icon_5{
  height: auto;
  max-width: 100%;
}
